{% extends 'baseB.html.twig' %}

{% block content %}
    <div class="col-lg-6">

        <!-- Dropdown Card Example -->
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between" >
                <h6 class="m-0 font-weight-bold text-primary">Ajouter un produit </h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                         aria-labelledby="dropdownMenuLink">


                    </div>
                </div>
            </div>
            <!-- Card Body -->




        </div>
        {{ form_start(f,{'attr': {'novalidate': 'novalidate'}} ) }}
        {{ form_label(f.designation,"designation") }}
        {{ form_widget(f.designation) }}
        {{ form_errors(f.designation) }}

        {{ form_label(f.prix,"prix") }}
        {{ form_widget(f.prix)}}
        {{ form_errors(f.prix) }}

        {{ form_label(f.cathegorie,"cathegorie") }}
        {{ form_widget(f.cathegorie)}}
        {{ form_errors(f.cathegorie) }}

        {{ form_label(f.quantite,"quantite") }}
        {{ form_widget(f.quantite)}}
        {{ form_errors(f.quantite) }}


       {{ form_label(f.image,"image") }}
        {{ form_widget(f.image)}}
        {{ form_errors(f.image) }}

        {{ form_end(f) }}


    </div>
    </form>
    </div>
    </div>



{% endblock %}
{% block footer %}
{% endblock %}