<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Skydash Admin</title>
        <!-- plugins:css -->
        <link rel="stylesheet" href="{{asset('assetsB/')}}vendors/feather/feather.css">
        <link rel="stylesheet" href="{{asset('assetsB/')}}vendors/ti-icons/css/themify-icons.css">
        <link rel="stylesheet" href="{{asset('assetsB/')}}vendors/css/vendor.bundle.base.css">
        <!-- endinject -->
        <!-- Plugin css for this page -->
        <link rel="stylesheet" href="{{asset('assetsB/')}}vendors/datatables.net-bs4/dataTables.bootstrap4.css">
        <link rel="stylesheet" href="{{asset('assetsB/')}}vendors/ti-icons/css/themify-icons.css">
        <link rel="stylesheet" type="{{asset('assetsB/')}}text/css" href="js/select.dataTables.min.css">
        <!-- End plugin css for this page -->
        <!-- inject:css -->
        <link rel="stylesheet" href="{{asset('assetsB/')}}css/vertical-layout-light/style.css">
        <!-- endinject -->
        <link rel="shortcut icon" href="{{asset('assetsB/')}}{{asset('assetsB/')}}images/favicon.png" />
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block content %} {% endblock %}

        <script src="{{asset('assetsB/')}}vendors/js/vendor.bundle.base.js"></script>
        <!-- endinject -->
        <!-- Plugin js for this page -->
        <script src="{{asset('assetsB/')}}vendors/chart.js/Chart.min.js"></script>
        <script src="{{asset('assetsB/')}}vendors/datatables.net/jquery.dataTables.js"></script>
        <script src="{{asset('assetsB/')}}vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
        <script src="{{asset('assetsB/')}}js/dataTables.select.min.js"></script>

        <!-- End plugin js for this page -->
        <!-- inject:js -->
        <script src="{{asset('assetsB/')}}js/off-canvas.js"></script>
        <script src="{{asset('assetsB/')}}js/hoverable-collapse.js"></script>
        <script src="{{asset('assetsB/')}}js/template.js"></script>
        <script src="{{asset('assetsB/')}}js/settings.js"></script>
        <script src="{{asset('assetsB/')}}js/todolist.js"></script>
        <!-- endinject -->
        <!-- Custom js for this page-->
        <script src="{{asset('assetsB/')}}js/dashboard.js"></script>
        <script src="{{asset('assetsB/')}}js/Chart.roundedBarCharts.js"></script>
    </body>
</html>
