{% extends 'baseB.html.twig' %}

{% block content %}
    <div class="col-lg-6">

        <!-- Dropdown Card Example -->
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between" >
                <h6 class="m-0 font-weight-bold text-primary">Ajouter une categorie </h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                         aria-labelledby="dropdownMenuLink">


                    </div>
                </div>
            </div>
            <!-- Card Body -->




        </div>
               {{ form_start(f,{'attr': {'novalidate': 'novalidate'}} ) }}
               {{ form_label(f.nom,"Nom") }}
               {{ form_widget(f.nom) }}
                {{ form_errors(f.nom) }}

               {{ form_label(f.descrption,"Descrption") }}
               {{ form_widget(f.descrption)}}
               {{ form_errors(f.descrption) }}


               {{ form_end(f) }}


             </div>
            </form>
        </div>
    </div>



{% endblock %}
{% block footer %}
{% endblock %}